@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --primary-color: #193940;
    --secondary-color: #7ABF5A;
    --tertiary-color: #9BF272;
    --background-color: #BAC8D9;
    --text-color: #F7F9FC;
    --padding-container: 80px 0;
}


*,
input,
textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Afacad', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    /* padding: 50px 0; */
}

/*
 
   _  _ ___   _   ___  ___ ___ 
  | || | __| /_\ |   \| __| _ \
  | __ | _| / _ \| |) | _||   /
  |_||_|___/_/ \_\___/|___|_|_\
                               
 
*/

.header {
    width: 100%;
    min-height: 80vh;
    background-color: var(--primary-color);
}

/* NAVEGADOR */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0;
}

.nav__logo-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
}

.nav__logo-link:hover {
    color: var(--secondary-color);
}

.nav__menu {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1.8rem;
}

.nav__link {
    text-decoration: none;
    color: var(--background-color);
    font-size: 1.2rem;
}

.nav__link--highlight {
    color: var(--text-color);
    font-weight: bold;
}

.nav__link:hover {
    color: var(--secondary-color);
}

/* HERO SECTION */

.hero__main {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
}

.hero__title {
    color: var(--text-color);
    font-size: 3.4rem;
}

.hero__linear {

    /* 90deg : indicar que el degradado va de izquierda a derecha */
    /* 270deg : indicar que el degradado va de derecha a izquierda */
    /* 180deg : indicar que el degradado va desde la parte inferior hacia la parte superior */
    /* #9BF272 40% : ocupa el 40% del ancho del fondo */
    /* #193940 100% : empieza desde el 40% y ocupa el resto hasta el 100%. */
    background: linear-gradient(180deg, #9BF272 40%, #193940 80%);

    /* Esta propiedad especifica que el fondo (en este caso, el degradado) debe recortarse para ajustarse al texto del elemento. Esto significa que el color del fondo solo se verá donde hay texto y no en el resto del elemento. */
    background-clip: text;

    /* Esta propiedad es una extensión de WebKit que hace que el color del texto sea transparente. Esto permite que el fondo (el degradado) brille a través del texto,
        logrando el efecto visual de que el texto está "relleno" con el degradado en lugar de tener un color sólido. El prefijo -webkit- se usa para asegurar que la propiedad funcione en navegadores basados en WebKit,
        como Chrome y Safari. */
    -webkit-text-fill-color: transparent;
}

.hero__paragraph {
    color: var(--text-color);
    font-size: 1.3rem;
    margin: 1.5rem auto;
}

.hero__cta {
    display: flex;
    gap: 1.8rem;
}

.hero__button {
    display: inline-block;
    padding: 1rem 2rem;
    background: linear-gradient(90deg, #9BF272 10%, #41808D 80%);
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    border-radius: 6px;
}

.hero__button:hover {
    background: linear-gradient(270deg, #9BF272 10%, #41808D 80%);
}

.hero__button--linear {
    background: linear-gradient(270deg, #9BF272 10%, #41808D 80%);
}

.hero__button--linear:hover {
    background: linear-gradient(90deg, #9BF272 10%, #41808D 80%);
}

.hero__features {
    display: flex;
    gap: 3rem;
    align-items: center;
    padding: 1.5rem 0;
}

.hero__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
}

.hero__item-text {
    font-size: 1.2rem;
    color: var(--text-color);
}

/*
 
   __  __   _   ___ _  _ 
  |  \/  | /_\ |_ _| \| |
  | |\/| |/ _ \ | || .` |
  |_|  |_/_/ \_\___|_|\_|
                         
 
*/

/* PLANS */

.plans {
    padding: var(--padding-container);
    background-color: var(--tertiary-color);
}

.plans__header {
    text-align: center;
    margin: 0rem 8rem;

}

.title {
    font-size: 2.5rem;
    color: var(--primary-color);
    font-weight: 400;
    margin-bottom: .8rem;
    
}

.title__highlight {
    font-weight: 700;
}

.paragraph {
    font-size: 1.1rem;
    color: var(--primary-color);
    text-align: center;
}

.plans__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 6rem;
    gap: 2.5rem;
}

.plans__article {
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 1rem;
}

.plans__title {
    font-size: 2.5rem;
    color: var(--text-color);
    margin-bottom: .5rem;
}

.plans__paragraph {
    font-size: 1rem;
    color: var(--text-color);
    text-align: justify;
    margin-bottom: 1rem;
}

.plans__item {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .5rem;
    color: var(--text-color);   
    margin: 1rem 0rem
}

.plans__button {
    display: inline-block;
    background: linear-gradient(90deg, #9BF272 10%, #41808D 80%);
    width: 100%;
    text-align: center;
    border-radius: 6px;
    padding: 1rem;
    font-size: 1.2rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    margin: 1rem 0;
}

.plans__button:hover {
    background: linear-gradient(270deg, #9BF272 10%, #41808D 80%);
}


/* SERVICIOS */

.services {
    padding: var(--padding-container);
    background-color: var(--primary-color);
}

.services__header {
    text-align: center;
    margin: 0rem 8rem;
}

.services__header-title {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 400;
    margin-bottom: .5em;
}

.services__header-highlight {
    font-weight: 700;
    color: var(--tertiary-color);
}

.services__header-paragraph {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 6rem;
    gap: 2.5rem;
}

.services__card {
    width: 100%;
    height: auto;
    background-color: var(--text-color);
    border-radius: 10px;
    padding: 1rem;
}

.services__card--highlight {
    background-color: var(--tertiary-color);
}

.services__imagen {
    margin-bottom: .8rem;
}

.services__title {
    font-size: 1.3rem;
    color: var(--primary-color);
    margin-bottom: .8rem;
}

.services__paragraph {
    font-size: .9rem;
    color: var(--primary-color);
    margin-bottom: .8rem;
}

.services__action {
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.services__link {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
}

.services__link:hover {
    text-decoration: underline;
}


/* PRODUCTOS */

.products {
    padding: var(--padding-container);
    background-color: var(--tertiary-color);
}

.products__header {
    text-align: center;
    margin: 0rem 8rem 2rem 8rem;
}

.products__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 6rem;
    gap: 2.5rem;
}

.products__card {
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 1rem;
}

.products__img {
    width: 100%;
    max-width: 1200px;
}

.products__date {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--background-color);
    margin: .8rem 0rem;
}

.products__icon-text {
    font-size: 1.2rem;
}

.product__title {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: .4rem;
}

.product__subtitle {
    font-size: 1.2rem;
    color: var(--background-color);
    font-weight: 400;
    margin-bottom: .8rem;
}

.card__interactions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card__interactions-icons {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--background-color);
}

/* CONTACTOS */

.contact {
    background-color: var(--primary-color);
    padding: 7rem 12rem;
}

.contact__box {
    background-color: var(--text-color);
    border-radius: 6px;
    padding: 2.5rem;
}

.contac__title {
    font-size: 2.2rem;
    color: var(--primary-color);
}

.contact__paragraph {
    font-size: 1rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.contact__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.contact__input {
    width: 23%;
    padding: .9rem;
    border-radius: 6px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1.2rem;
    outline: none;
    border: none;
}

/* Este selector CSS se dirige específicamente al botón externo de la interfaz de usuario de los campos number en navegadores basados en WebKit (como Chrome, Safari y Opera). El :: indica que estamos seleccionando un pseudo-elemento (en este caso, el botón de incremento/decremento) */
input[type=number]::-webkit-outer-spin-button,


/* Similar al anterior,
pero este selector apunta al botón interno de la interfaz de usuario de los campos number. */
input[type=number]::-webkit-inner-spin-button {

    /* Este es un estilo específico de WebKit que desactiva la apariencia predeterminada de los elementos de interfaz (como las flechas de los campos number). */
    -webkit-appearance: none;

    /* Esta propiedad se utiliza para asegurarse de que no haya márgenes alrededor de los botones de incremento/decremento que puedan afectar el diseño o la apariencia del campo de entrada. */
    margin: 0;
}


.contact__button {
    padding: 1rem 2rem;
    background: linear-gradient(90deg, #9BF272 10%, #41808D 80%);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: bold;
}

.contact__button:hover {
    background: linear-gradient(270deg, #9BF272 10%, #41808D 80%);
}


/*
 
   ___ ___   ___ _____ ___ ___ 
  | __/ _ \ / _ \_   _| __| _ \
  | _| (_) | (_) || | | _||   /
  |_| \___/ \___/ |_| |___|_|_\
                               
 
*/

.footer {
    background-color: var(--tertiary-color);
    padding: 1rem 2rem;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__paragraph {
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 700;
}

.footer__paragraph-highlight {
    font-weight: 400;
}

.footer__icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.footer__link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}


/*
 
   ___ ___ ___ ___  ___  _  _ ___ _____   _____ 
  | _ \ __/ __| _ \/ _ \| \| / __|_ _\ \ / / __|
  |   / _|\__ \  _/ (_) | .` \__ \| | \ V /| _| 
  |_|_\___|___/_|  \___/|_|\_|___/___| \_/ |___|
                                                
 
*/

/* Pantallas que llegan hasta los 1024px */
@media (max-width: 1024px) {
    
    /* HEADER */
    .header {
        min-height: 60vh;
    }

    .nav {
        margin: 0rem 3rem;
    }

    .hero__main {
        grid-template-columns: 1fr;
        margin: 2rem 5rem;
    }

    .hero__title {
        text-align: center;
    }

    .hero__paragraph {
        text-align: center;
    }

    .hero__cta {
        justify-content: center;
    }

    .hero__features {
        justify-content: center;
    }

    .hero__image {
        text-align: center;
    }

    /* PLANES */

    .plans__container {
        grid-template-columns: repeat(2, 1fr);
        margin: 2rem 6rem;
        gap: 2.5rem;
    }

    .plans__article:nth-child(3) {
        grid-column: 1 / -1;
        justify-content: center;
    }

    .plans__item-text {
        font-size: .9rem;
    }

    /* SERVICIOS */

    .services__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .services__card:nth-child(3) {
        grid-column: 1 / -1;
        justify-content: center;
    }

    /* PRODUCTOS */

    .products__container {
        margin: 2rem 6rem;
        gap: .5rem;
    }

    .products__card {
        width: 100%;
    } 

    .products__icon-text {
        font-size: .9rem;
    }

    .product__title {
        font-size: .9rem;
    }

    .product__subtitle {
        font-size: 1rem;
    }

    .card__icon {
        width: 40%;
    }

    .card__text {
        font-size: .9rem;
    }
    

    /* CONTACTOS */

    .contact {
        padding: 7rem 6rem;
    }
    
    .contac__title {
        font-size: 1.4rem;
    }

    .contact__paragraph {
        font-size: 1rem;
    }

    .contact__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .contact__input {
        width: 100%;
    }

    .contact__button {
        text-align: center;
        width: 100%;
    }

    /* FOOTER */

    .footer__paragraph {
        font-size: .9rem;
    }

    .footer__icons {
        gap: .7rem;
    }
 
}

@media (max-width: 768px) {
    
    /* PLANS */
    .plans__item-text {
        font-size: .8rem;
    }

    /* PRODUCTS */

    .product__icon-calendar {
        width: 14%;
    }

    .products__icon-text {
        font-size: .8rem;
    }

    .product__title {
        font-size: .8rem;
    }

    .product__subtitle {
        font-size: .8rem;
    }

    .card__icon {
        width: 35%;
    }
}

@media (max-width: 480px) {

    .nav {
        flex-direction: column;
        margin: 2rem 0rem;
    }

    .hero__title {
        margin: 1rem;
        font-size: 2rem;
    }

    .hero__paragraph {
        display: none;
    }

    .hero__image {
        text-align: center;
    }

    .hero__img {
        width: 100%;
    }

    /* PLANES */
    .plans__header {
        text-align: center;
        margin: 0rem 3rem;
    }

   .plans__container {
       grid-template-columns: auto;
    }

    /* SERVICES */

    .services__header {
        margin: 0rem 3rem;
    }

    .services__container {
        grid-template-columns: auto;
    }

    /* PRODUCTOS */

    .products__header {
        margin: 0rem 3rem;
    }

    .products__container {
        grid-template-columns: auto;
        gap: 2.5rem;
    }

    .product__icon-calendar {
        width: 10%;
    }

    .products__icon-text {
        font-size: 1rem;
    }

    .product__title {
        font-size: 1rem;
    }

    .product__subtitle {
        font-size: 1rem;
    }

    /* CONTACTOS */

    .contact {
        padding: 7rem 3rem;
    }

    .contac__title {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: .5rem;
    }

    .contact__paragraph {
        font-size: 1rem;
        text-align: center;
    }

    .contact__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .contact__input {
        width: 100%;
        font-size: 1rem;
    }

    .contact__button {
        font-size: 1rem;
        text-align: center;
        width: 100%;
    }

    .footer__content {
        flex-direction: column;
        gap: 1rem;
    }

    .footer__paragraph {
        font-size: .8rem;
    }

}

@media (max-width: 393px) {
    * {
        background-color: yellow;
    }
}