/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    /* En caso no funcione el tipo de letra "nunito" se respaldará con sans serif */
}

body {
    width: 100%;
    /* Establece una altura mínima para un elemento que es equivalente al 100% de la altura visible del área del navegador */
    min-height: 100vh;
    padding: 0 10px;
    display: flex;
    background: #00c2c7;
    justify-content: center;
    align-items: center;
}

.login_form {
    width: 100%;
    max-width: 435px;
    background: #fff;
    border-radius: 6px;
    padding: 41px 30px;
    /* Define una sombra con 0 desplazamiento horizontal, 10px desplazamiento vertical, 20px representa el desenfoque de la sombra y el rgba es el formato de color (Red, Green, Blue, Alpha), los primeros tres valores (0,0,0) corresponden al rojo,verde y azul, en cuanto al cuarto valor (0.15) es el valor de la opacidad o transpariencia donde 0 es la transpariencia y 1 completamente opaco. */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.login_form h3 {
    font-size: 20px;
    text-align: center;
}

/* Google y apple */
.login_form .login_option {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.login_form .login_option .option {
    width: calc(100% / 2 - 12px);
}

.login_form .login_option .option a {
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Define el espacio entre elementos */
    gap: 12px;
    background: #F8F8FB;
    border: 1px solid #DADAF2;
    border-radius: 5px;
    margin: 34px 0 24px 0;
    text-decoration: none;
    color: #171645;
    font-weight: 500;
    /* Genera una transición del 0.2 segundos con el valor ease donde define la función de temporización o curva de acelaración */
    transition: 0.2s ease;
}

.login_form .login_option .option a:hover {
    background: #ededf5;
    border-color: #0086ad;
}

.login_form .login_option .option a img {
    max-width: 25px;
}

.login_form p {
    text-align: center;
    font-weight: 500;
}

.login_form .separator {
    /* Posiciona el elemento en relación a su posición normal */
    position: relative;
    margin-bottom: 24px;
}

.login_form .separator span {
    background-color: #fff;
    /* Esta propiedad define la profundidad de un elemento en la pila de apilamiento , el valor 1 específico asigna al elemento un nivel de apilamiento de 1 para que funcione el elemento debe tener una posición relative */
    z-index: 1;
    padding: 0 10px;
    position: relative;
}

/* El pseudo elemento ::after se utiliza para insertar contenido adicional después del contenido de un elemento específico. */
.login_form .separator::after {
    /* Es obligatorio cuando se usa after o before , genera el pseudo-elemento aunque el contenido este vacío */
    content: '';
    /* El pseudo elemento se posicionará de manera absoluta , esto significa que se posicionara en relación a su primer contenedor */
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 1px;
    background: #C2C2C2;
    /* Cambia el comportamiento del pseudo-elemento para que se comporte como un bloque */
    display: block;
}

form .input_box label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
}

form .input_box input {
    width: 100%;
    height: 57px;
    border: 1px solid #00c2c7;
    border-radius: 5px;
    /* Elimina el borde predeterminado de HTML */
    outline: none;
    background: #F8F8FB;
    font-size: 17px;
    padding: 0px 20px;
    margin-bottom: 25px;
    transition: 0.2s ease;
}

/* El pseudo clase focus se aplica a un elemento cuando recibe el foco de entrada, es decir, cuando el elemento esté seleccionado. */
form .input_box input:focus {
    border-color: #0086ad;
}

form .input_box .password_title {
    /* Se posiciona al lado */
    display: flex;
    /* Genera un espacio entre los elementos */
    justify-content: space-between;
    text-align: center;
}

form .input_box {
    /* Se usa para posicionar un elemento en relación con su ubicación original en el flujo del documento */
    position: relative;
}

a {
    text-decoration: none;
    color: #00c2c7;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

form button {
    width: 100%;
    height: 56px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #00c2c7;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 28px;
    transition: 0.3s ease;
}

form button:hover {
    background: #0086ad;
}

