/* Google font - Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --primario: #0D1117;
    --secundario: #F2F2F2;

    --padding-container: 80px 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: var(--secundario);
    opacity: 1;
    background-image: radial-gradient(#292929 0.1px, transparent 0.1px), radial-gradient(#292929 0.1px, #FFFFFF 1px);
    background-size: 28px 28px;
    background-position: 0 0, 14px 14px;
    
}

.container {
    width: min(90%, 1200px);
    margin: 0 auto;
    overflow: hidden;
}

/*
 
   _  _ ___   _   ___  ___ ___ 
  | || | __| /_\ |   \| __| _ \
  | __ | _| / _ \| |) | _||   /
  |_||_|___/_/ \_\___/|___|_|_\
                               
 
*/

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.nav__logo-title {
    color: var(--primario);
    font-size: 1.25rem;
}

.nav__menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.nav__link {
    text-decoration: none;
    font-weight: 600;
    color: var(--primario);
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__button {
    padding: .7rem 1rem;
    font-size: 1rem;
    background-color: var(--primario);
    color: var(--secundario);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.nav__button:hover {
    background-color: #333;
}

.hero__main {
    padding: var(--padding-container);
    text-align: center;
}

.hero__text {
    color: var(--primario);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.hero__title {
    color: var(--primario);
    font-size: clamp(2rem, 5vw + 1rem, 2.8rem);
    margin-bottom: .5rem;
}

.hero__description {
    color: var(--primario);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.hero__figure {
    width: min(100%, 1200px);
    justify-self: center;
}

.hero__img {
    width: 100%;
}


/*
 
   __  __   _   ___ _  _ 
  |  \/  | /_\ |_ _| \| |
  | |\/| |/ _ \ | || .` |
  |_|  |_/_/ \_\___|_|\_|
                         
 
*/

/* INFORMATION */

.information {
    padding: var(--padding-container);
}

.information__title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.information__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2rem;
}

.information__card {
    width: 100%;
    height: auto;
}

.information__img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: .5rem;
}

.information__date {
    font-size: .9rem;
    font-weight: 500;
}

.information__headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.information__paragraph {
    text-align: justify;
    font-weight: 300;
    font-size: .9rem;
    margin-bottom: 1.5rem;
}

.information__link {
    padding: .5rem 2rem;
    text-decoration: none;
    color: var(--primario);
    font-weight: 700;
    border-radius: 3rem;
    border: 1.5px solid var(--primario);
    transition: all .3s;
}

.information__link:hover {
    background-color: var(--primario);
    color: var(--secundario);
}