/* Google font - Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --primario: #0D1117;
    --secundario: #F2F2F2;

    --padding-container: 80px 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: var(--secundario);
    opacity: 1;
    background-image: radial-gradient(#292929 0.1px, transparent 0.1px), radial-gradient(#292929 0.1px, #FFFFFF 1px);
    background-size: 28px 28px;
    background-position: 0 0, 14px 14px;
    
}

.container {
    width: min(90%, 1200px);
    margin: 0 auto;
    overflow: hidden;
}

/*
 
   _  _ ___   _   ___  ___ ___ 
  | || | __| /_\ |   \| __| _ \
  | __ | _| / _ \| |) | _||   /
  |_||_|___/_/ \_\___/|___|_|_\
                               
 
*/

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.nav__logo-title {
    color: var(--primario);
    font-size: 1.25rem;
}

.nav__menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.nav__link {
    text-decoration: none;
    font-weight: 600;
    color: var(--primario);
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__button {
    padding: .7rem 1rem;
    font-size: 1rem;
    background-color: var(--primario);
    color: var(--secundario);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.nav__button:hover {
    background-color: #333;
}

.hero__main {
    padding: var(--padding-container);
    text-align: center;
}

.hero__text {
    color: var(--primario);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.hero__title {
    color: var(--primario);
    font-size: clamp(2rem, 5vw + 1rem, 2.8rem);
    margin-bottom: .5rem;
}

.hero__description {
    color: var(--primario);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.hero__figure {
    width: min(100%, 1200px);
    justify-self: center;
}

.hero__img {
    width: 100%;
}


/*
 
   __  __   _   ___ _  _ 
  |  \/  | /_\ |_ _| \| |
  | |\/| |/ _ \ | || .` |
  |_|  |_/_/ \_\___|_|\_|
                         
 
*/

/* INFORMATION */

.information {
    padding: var(--padding-container);
}

.information__title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.information__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2rem;
}

.information__card {
    width: 100%;
    height: auto;
}

.information__img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: .5rem;
}

.information__date {
    font-size: .9rem;
    font-weight: 500;
}

.information__headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.information__paragraph {
    text-align: justify;
    font-weight: 300;
    font-size: .9rem;
    margin-bottom: 1.5rem;
}

.information__link {
    padding: .5rem 2rem;
    text-decoration: none;
    color: var(--primario);
    font-weight: 700;
    border-radius: 3rem;
    border: 1.5px solid var(--primario);
    transition: all .3s;
}

.information__link:hover {
    background-color: var(--primario);
    color: var(--secundario);
}

/*
 
   ___ ___   ___ _____ ___ ___ 
  | __/ _ \ / _ \_   _| __| _ \
  | _| (_) | (_) || | | _||   /
  |_| \___/ \___/ |_| |___|_|_\
                               
 
*/

.footer {
    background-color: var(--primario);
    padding: var(--padding-container);
    
}

.footer__content {
    width: min(90%, 1200px);
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.footer__title {
    color: var(--secundario);
    font-size: 2rem;
    margin-bottom: .5rem;
}

.footer__description {
    font-size: 1rem;
    color: var(--secundario);
    font-weight: 300;
    margin-bottom: 2rem;
}

.footer__cta {
    padding: .7rem 2rem;
    text-decoration: none;
    color: var(--primario);
    background-color: var(--secundario);
    font-weight: 700;
    border-radius: 3rem;
    transition: all .3s;
}

.footer__cta:hover {
    background-color: #333;
    color: var(--secundario);
}

.footer__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    text-align: center;
}

.footer__link {
    text-decoration: none;    
    color: var(--secundario);
    font-weight: 300;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__copy {
    margin-top: 3.5rem;
    position: relative;
}

.footer__copy::before {
    content: "";
    display: block;
    height: 2px;
    margin: 0 auto 25px auto;
    background-color: var(--secundario);
}

.footer__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.footer__copyright {
    color: var(--secundario);
    font-weight: 300;
    font-size: .9rem;
}

/*
 
   ___ ___ ___ ___  ___  _  _ ___ _____   _____ 
  | _ \ __/ __| _ \/ _ \| \| / __|_ _\ \ / / __|
  |   / _|\__ \  _/ (_) | .` \__ \| | \ V /| _| 
  |_|_\___|___/_|  \___/|_|\_|___/___| \_/ |___|
                                                
 
*/

/* MEDIA QUERIES */

@media screen and (max-width: 767px) {
   
    /* HEADER */

    .nav {
       flex-direction: column;
       gap: 1rem;
       margin: 1rem 0;
       font-size: .9rem;
    }

    .nav__button {
        display: none;
    }

    .hero__main {
        padding: 30px 0;
    }

    /* FOOTER */

    .footer__info {
        flex-direction: column;
    }

    .footer__menu {
        gap: 2rem;
    }
}